/* Google Fonts Import */
@import url('https://fonts.googleapis.com/css?family=Bitter');

a{
    color: whitesmoke !important;
}


body{
    /* background: url(./assets/back.jpg) no-repeat center center fixed; */
     /* background: url(./assets/back3.jpg) no-repeat center center fixed; */
    
    background: url('assets/back5.jpg') no-repeat center center fixed; 

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;


    font-family: 'Bitter', serif;

    text-shadow: 1px 1px 1px silver;
}

input{
    box-shadow: 1px 1px 1px silver !important;
}

a:link{
    color: whitesmoke !important;
}

a:visited{
    color:whitesmoke !important;
}

a:hover{
    color: whitesmoke !important;
    text-decoration: none;
}

a:active{
    color: whitesmoke !important;
}

.btnHc{
    /* Black Button */
    background: url('assets/blackButton.jpg') !important;
    background-size: cover !important;
    color: whitesmoke !important;
}

.btnHcSilver{
    margin-left: 2px;
    background: url('assets/topbar.jpg') !important;
    background-size: cover !important;
    color: black !important;
}

.ui-widget-header {
    color: #564040;
}
em{
    color:red;
    text-shadow: 1px 1px 5px red;
    -webkit-text-stroke-width: .4px !important;
    -webkit-text-stroke-color: black !important;
}

hr{
    border: .5px silver solid;
}

.headerPaddingLeft{
    padding-left: 150px;
}
.centerDiv{
    float: none;
    left:0;
    right:0;
    margin-left: auto;
    margin-right: auto;
}

.backLightGrey{
    background: #e2e2e2;
}

.homeText{
    font-size: 35px;
    color: black;
    text-align: center;
    position: relative;
    text-shadow: 2px 2px 2px gray;
}

.imgLoading{
    width: 80px;
}

.updateWell{
    padding-left: 60px;
    padding-right: 60px;
}

.well {
    box-shadow: 0px 0px 5px black;
    border: 1px black solid;
    border-radius: 10px;
}

/* Floats */
.float-right{
    float: right !important;
    margin: none !important;
}

/* Float Right */
.float-left{
    float: left !important;
    margin: none !important;
}

/* Bold Text */
.bold{
    font-weight: bold !important;
}

.modal-content{
    background-color: whitesmoke;
}



table{
    margin-top: 3px;
    border: 1px black solid;
}


th{
    background: #bebebe;
    color: black;
    border-bottom: 1px black solid !important;
    text-shadow: none;
}

th>.sorting{
    color:black;
}

select{
    border: 1px silver solid;
    box-shadow: 1px 1px 1px silver !important;
}

input{
    border: 1px silver solid;
    box-shadow: 1px 1px 1px silver !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    
    /* Silver Buttons
     background: url('./assets/topbar.jpg') !important;
    background-size: cover !important;
    color: black !important; */

    border-radius: 5px;
    background: url('assets/blackButton.jpg') !important;
    background-size: cover !important;
    color: whitesmoke !important;
 
    background-color: white;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
    border-radius: 5px;
    box-sizing: border-box;
    display: inline-block;
    min-width: 1.5em;
    padding: 0.5em 1em;
    margin-left: 2px;
    text-align: center;
    text-decoration: none !important;
    cursor: pointer;
    *cursor: hand;


    /* Black Buttons */
    background: url('assets/blackButton.jpg') !important;
    background-size: cover !important;
    color: whitesmoke !important;

/*  silver Buttons
    background: url('./assets/topbar.jpg') !important;
    background-size: cover !important;
    color: black !important; */

    
    background-color: white;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.disabled, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active {
    /* Black Buttons */
    background-size: cover !important;
    color: whitesmoke !important;

    /* Silver Buttons
    background: url('./assets/topbar.jpg') !important;
    background-size: cover !important;
    color: black !important; */

    border-radius: 5px;
}

.ui-datepicker .ui-widget-content {
    background: white none;
}

.ui-widtget-content > a.ui-state-default {
 color: black !important;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    border: 1px solid black;
    font-weight: bold;
    color: black !important;
}

.ui-widget-header {
    border: 1px solid #e78f08;
    background: #f6a828 url('assets/back5.jpg') 50% 50% repeat-x;
    color: black;
    font-weight: bold;
    border: 1px black solid;
}

.ui-datepicker-month{
    color: white !important;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
