/* Google Fonts Import */
@import url('https://fonts.googleapis.com/css?family=Bitter');

body{
    /* background: url(./assets/back.jpg) no-repeat center center fixed; */
     /* background: url(./assets/back3.jpg) no-repeat center center fixed; */
    
    background: url(./assets/back5.jpg) no-repeat center center fixed; 

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;


    font-family: 'Bitter', serif;

    text-shadow: 1px 1px 1px silver;
}

input{
    box-shadow: 1px 1px 1px silver !important;
}

a:link{
    color: black !important;
}

a:visited{
    color: black !important;
}

a:hover{
    color: black !important;
    text-decoration: none;
}

a:active{
    color: black !important;
}

.btnHc{
    box-shadow: 1px 1px 1px black;
    background: url('./assets/topbar.jpg') !important;
    background-size: cover !important;
}

.ui-widget-header {
    color: #564040;
}
em{
    color:red;
    text-shadow: 1px 1px 5px red;
    -webkit-text-stroke-width: .4px !important;
    -webkit-text-stroke-color: black !important;
}

.headerPaddingLeft{
    padding-left: 150px;
}
.centerDiv{
    float: none;
    left:0;
    right:0;
    margin-left: auto;
    margin-right: auto;
}

.backLightGrey{
    background: #e2e2e2;
}

.homeText{
    font-size: 35px;
    color: black;
    text-align: center;
    position: relative;
    text-shadow: 2px 2px 2px gray;
}

.imgLoading{
    width: 80px;
}

.updateWell{
    padding-left: 60px;
    padding-right: 60px;
}

.well {
    box-shadow: 1px 1px 1px black;
    border: 1px black solid;
    border-radius: 10px;
}

/* Floats */
.float-right{
    float: right;
}

/* Float Right */
.float-left{
    float: left;
}

/* Bold Text */
.bold{
    font-weight: bold !important;
}

.modal-content{
    background-color: whitesmoke;
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
