<div class="container-fluid">
  <div class="row">
    <div class="col-xs-8 col-sm-6 col-md-4 col-lg-4 centerDiv">

      <form [formGroup]="userForm" autocomplete="off" novalidate (ngSubmit)="createUser(userForm.value)">

        <div class="form-horizontal well">
          <div class="form-group">
            <label for="username" class="control-label">username: </label>
            <div class="col-md-auto">
              <input type="text" formControlName="username" id="username" class="form-control" />
            </div>
            <div class="col-md-5">
              <em *ngIf="validateControl('username') && hasError('username', 'required')">username is required</em>
            </div>
          </div>

          <div class="form-group">
            <label for="password" class="control-label">Password: </label>
            <div class="col-md-auto">
              <input type="password" formControlName="password" id="password" class="form-control" />
            </div>
            <div class="col-md-5">
              <em *ngIf="validateControl('password') && hasError('password', 'required')">Password is required</em>
            </div>
          </div>

          <br><br>

          <div class="form-group">
            <div class="row">
              <div class="col-md-auto">
                <button type="submit" class="btn btn-info center-block" [disabled]="!userForm.valid">Login</button>
                <br>


                <div class="centerDiv" *ngIf="loading">
                  <img src="../../../assets/loading.gif" class="center-block imgLoading" />
                </div>
              </div>
            </div>
          </div>
        </div>

      </form>
    </div>
    <app-error-modal [modalHeaderText]="'Unsuccessful Login'" [modalBodyText]="errorMessage" [okButtonText]="'OK'"></app-error-modal>

  </div>