<nav class="navbar navbar-inverse">
        <div class="container-fluid">
                <div class="navbar-header">
                        <a class="navbar-brand" [routerLink]="['/home']" routerLinkActive="active"
                                [routerLinkActiveOptions]="{exact: true}">Project GoldStar</a>
                </div>
                <ul class="nav navbar-nav">
                        <li *ngIf="loggedIn && typeCode === 1"><a [routerLink]="['/userlogin/list']" routerLinkActive="active"
                                        [routerLinkActiveOptions]="{exact: true}">User Login List</a></li>
                        <li *ngIf="loggedIn && typeCode === 1"><a [routerLink]="['/user/list']" routerLinkActive="active"
                                        [routerLinkActiveOptions]="{exact: true}">User
                                        List</a></li>
                        <li *ngIf="loggedIn && typeCode === 1"><a [routerLink]="['/student/list']" routerLinkActive="active"
                                        [routerLinkActiveOptions]="{exact: true}">Student
                                        List</a></li>
                        <li *ngIf="loggedIn && typeCode === 1"><a [routerLink]="['/course/list']" routerLinkActive="active"
                                        [routerLinkActiveOptions]="{exact: true}">Course List</a></li>
                        <li *ngIf="!loggedIn"><a [routerLink]="['/login']" routerLinkActive="active"
                                        [routerLinkActiveOptions]="{exact: true}">Log
                                        In</a></li>
                        <li *ngIf="loggedIn"><a [routerLink]="['/logout']" routerLinkActive="active"
                                        [routerLinkActiveOptions]="{exact: true}">Log
                                        Out</a></li>
                </ul>
        </div>
</nav>