<div class="container-fluid">
  <div class="row">
    <div class="well col-md-8 centerDiv">
      <a [routerLink]="['/section/create/']">Create Section</a>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 centerDiv well">
      <div class="table-responsive">
        <table *ngIf="isLoaded" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-striped">
          <thead>
            <tr>
              <th>Course Id:</th>
              <th>Designation:</th>
              <th>Semester:</th>
              <th>Faculty Id:</th>
              <th>Start Date:</th>
              <th>End Date:</th>
              <th>Vacancy:</th>
              <th>Options</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let section of sections">
              <td>{{section.course_Id}}</td>
              <td>{{section.designation}}</td>
              <td>{{section.semester}}</td>
              <td>{{section.faculty_Id}}</td>
              <td>{{section.start_Date}}</td>
              <td>{{section.end_Date}}</td>
              <td>{{section.vacancy}}</td>
              <td><button type="button" id="update" class="btn btn-success" (click)='redirectToSectionPage(section.section_Id)'>Update</button></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>