<div class="container-fluid">
  <!-- Loading Bar -->
  <div *ngIf="!isLoaded">
    <div class="row">
      <div class="col-md-8 centerDiv well">
        <img src="assets/loading.gif" class="center-block imgLoading" />
        <h4 class="text-center">Loading</h4>
      </div>
    </div>
  </div>

  <!-- HC Well Button -->
  <div *ngIf="isLoaded" class="row">
    <div class="col-md-8 centerDiv well">
      <div class="row">
        <div class="col-md-4">
          <h4 class="float-left">Section List</h4>
        </div>
        <div class="col-md-8">
          <button class="btn btnHc float-right">
            <a [routerLink]="[ '/section/create']">Create Section</a>
          </button>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="isLoaded" class="row">
    <div class="col-md-8 centerDiv well">
      <div class="table-responsive">
        <table *ngIf="isLoaded" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-striped">
          <thead>
            <tr>
              <th>Course</th>
              <th style="width: 10%">Designation:</th>
              <th style="width: 10%">Semester:</th>
              <th style="width: 15%">Faculty:</th>
              <th style="width: 10%">Start Date:</th>
              <th style="width: 10%">End Date:</th>
              <th style="width: 8%">Vacancy:</th>
              <th>Options</th>
            </tr>
          </thead>
          <tbody *ngIf="sections !== undefined">
            <tr *ngFor="let section of sections">
              <td>{{section.course_Id}} - {{section.course_Name}}</td>
              <td>{{section.designation}}</td>
              <td>{{section.semester}}</td>
              <td>{{section.faculty_Id}} - {{faculty[(section.faculty_Id) - 1].first_Name}}
                {{faculty[(section.faculty_Id - 1)].last_Name}}</td>
              <td>{{section.start_Date | date:'yyyy-MM-dd'}}</td>
              <td>{{section.end_Date | date:'yyyy-MM-dd'}}</td>
              <td>{{section.vacancy}}</td>
              <td><button type="button" id="update" class="btn btnHc"
                  (click)='redirectToUpdatePage(section.section_Id)'>Update</button></td>
            </tr>
          </tbody>
          <tbody *ngIf="sections=== undefined">
            <tr>
              <td colspan="8" class="bold text-center">
                <div class="row">
                  <div class="col-md-8 centerDiv">
                    <img src="../../../assets/loading.gif" class="center-block
                      imgLoading" />
                    <h4 class="text-center">Loading</h4>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>