<div class="container-fluid">
  <!-- Loading Bar -->
  <div *ngIf="!isLoaded">
    <div class="row">
      <div class="col-md-8 centerDiv well">
        <img src="../../../assets/loading.gif" class="center-block imgLoading" />
        <h4 class="text-center">Loading</h4>
      </div>
    </div>
  </div>

  <!-- HC Well Button -->
  <div *ngIf="isLoaded" class="row">
    <div class=" col-md-8 centerDiv well">
      <div class="row">
        <div class="col-md-4">
          <h4 class="float-left">Student List</h4>
        </div>
        <div class="col-md-8">
          <button class="btn btnHc float-right">
            <a [routerLink]="[ '/user/create/3']">Create Student</a>
          </button>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="isLoaded" class="row">
    <div class="col-md-8 centerDiv well">
      <div class="table-responsive table-striped">
        <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-striped">
          <thead>
            <tr>
              <th style="width: 5%">ID</th>
              <th style="width: 5%">Status</th>
              <th style="width: 5%">GPA</th>
              <th style="width: 10%">Amount Due</th>
              <th style="width: 10%">First Name</th>
              <th style="width: 10%">Last Name</th>
              <th style="width: 15%">E-Mail</th>
              <th style="width: 17.5%">Program</th>
              <th style="width: 5%">Option</th>
            </tr>
          </thead>
          <tbody *ngIf="studentsInfo !== undefined">
            <tr *ngFor="let student of studentsInfo">
              <td>{{student.student_Id}}</td>
              <td>{{student.student_Status}}</td>
              <td>{{student.gpa}}</td>
              <td>{{student.amount_Owing}}</td>
              <td>{{student.first_Name}}</td>
              <td>{{student.last_Name}}</td>
              <td>{{student.eMail}}</td>
              <td *ngIf="isLoaded">{{depts[(student.dept_Id - 1)].dept_Name}}</td>
              <td><button type="button" id="update" class="btn btnHc" (click)='redirectToUpdatePage(student.student_Id)'>Update</button></td>
            </tr>
          </tbody>
          <tbody *ngIf="studentsInfo === undefined">
            <tr>
              <td colspan="9" class="bold text-center">
                <div class="row">
                  <div class="col-md-8 centerDiv">
                    <img src="../../../assets/loading.gif" class="center-block imgLoading" />
                    <h4 class="text-center">Loading</h4>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>