<div class="container-fluid">
  <br>
  <div class="row">
    <div class="col-md-12">
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <!-- Combo student ID and Name -->
              <th>Enrolee:</th>
              <th>Section ID:</th>
              <th>Status:</th>
              <th>Grade:</th>
            </tr>
          </thead>
          <tbody *ngIf="!isLoaded">
            <tr>
              <td colspan="4">
                <div class="centerDiv" *ngIf="!isLoaded">
                  <img src="../../../assets/loading.gif" class="center-block imgLoading" />
                </div>
              </td>
            </tr>
          </tbody>
          <tbody *ngIf="isLoaded">
            <tr *ngFor="let enrollment of enrollmentInfo">
              <td>{{enrollment.student_Id}} - {{enrollment.first_Name}} {{enrollment.last_Name}}</td>
              <td>{{enrollment.section_Id}}</td>
              <td>{{enrollment.course_Status}}</td>
              <td>{{enrollment.grade}}</td>
              <td><button type="button" id="update" class="btn btn-success" (click)='redirectToUpdatePage(enrollment.enrollment_Id)'>Update</button></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>