<div class="container-fluid">
  <!-- Loading Bar -->
  <div *ngIf="!isLoaded">
    <div class="row">
      <div class="col-md-8 centerDiv well">
        <img src="../../../assets/loading.gif" class="center-block imgLoading" />
        <h4 class="text-center">Loading</h4>
      </div>
    </div>
  </div>

  <!-- HC Well Button -->
  <div *ngIf="isLoaded" class="row">
    <div class=" col-md-8 centerDiv well">
      <button class="btn btnHc">
        <a [routerLink]="[ '/user/create/2']">Create a Faculty</a>
      </button>
    </div>
  </div>

  <br>
  <div *ngIf="isLoaded" class="row">
    <div class="col-md-8 centerDiv well">
      <div class="table-responsive">
        <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-striped">
          <thead>
            <tr>
              <th>Faculty ID</th>
              <th>Faculty Status</th>
              <th>First Name</th>
              <th>Last Name</th>
              <th>E-Mail</th>
              <th>Address</th>
              <th>Department</th>
              <th>Option</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let faculty of facultysInfo">
              <td>{{faculty.faculty_Id}}</td>
              <td>{{faculty.faculty_Status}}</td>
              <td>{{faculty.first_Name}}</td>
              <td>{{faculty.last_Name}}</td>
              <td>{{faculty.eMail}}</td>
              <td>{{faculty.address}}</td>
              <td *ngIf="isLoaded">{{depts[(faculty.dept_Id - 1)].dept_Name}}</td>
              <td>
                <button type="button" id="update" class="btn btn-success" (click)='redirectToUpdatePage(faculty.faculty_Id)'>Update</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>