<div class="container-fluid">

  <!-- Loading Bar -->
  <div *ngIf="!isLoaded">
    <div class="row">
      <div class="col-sm-8 col-md-6 col-lg-4 centerDiv well">
        <img src="../../../assets/loading.gif" class="center-block imgLoading" />
        <h4 class="text-center">Loading</h4>
      </div>
    </div>
  </div>

  <div *ngIf="isLoaded" class="well col-sm-10 col-md-10 col-lg-10 centerDiv well">
    <h4 class="text-center">Student Enrollment</h4>
    <h5 class="text-center">For the {{nextSemester}} semester</h5>

  </div>

  <!-- Custom Course Picker -->
  <div *ngIf="isLoaded" id="cPicker" class="well col-sm-10 col-md-10 col-lg-10 centerDiv">
    <h6 class="text-center">Current Registered for {{enrollmentCount}} courses.</h6>
    <h6 class="text-center">You must apply for minimum 4 and max 8 courses a semester</h6>
    <hr>
    <!-- <div class="row">
      <div class="col-md-6">
        <h4 class="text-center">Offered Courses</h4>
        <h6 class="text-center">{{sectionsSelect.length}} courses to choose from!</h6>
      </div>
      <div class="col-md-6">
        <h4 class="text-center">Selected courses</h4>
        <h6 class="text-center">Currently {{sectionsRegister.length}} courses to choosen.</h6>
      </div>
    </div> -->
    <div class="row">
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-12">
            <h4 class="text-center">Offered Courses</h4>
            <h6 class="text-center">{{sectionsSelect.length}} courses to choose from!</h6>
          </div>
        </div>
        <div id="selectCourse" class="col-md-12 centerDIv">
          <table class="table">
            <thead>
              <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Designation</th>
                <th>Semester</th>
                <th style="width: 3%">Select</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let section of sectionsSelect; let i = index">
                <td class="selectFirst">{{section.course_Id}}</td>
                <td>{{section.course_Name}}</td>
                <td>{{section.designation}}</td>
                <td>{{section.semester}}</td>
                <td class="selectButton">
                  <button *ngIf="!rotateButtons" class="btn btnHc" (click)="addToRegister(i)"><i class="fas fa-arrow-right"></i></button>
                  <button *ngIf="rotateButtons" class="btn btnHc" (click)="addToRegister(i)"><i class="fas fa-arrow-down"></i></button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-12">
            <h4 class="text-center">Selected courses</h4>
            <h6 class="text-center">Currently {{sectionsRegister.length}} courses to choosen.</h6>
          </div>
        </div>
        <div id="selectedCourse" class="col-md-12 centerDiv">
          <table class="table">
            <thead>
              <tr>
                <th style="width: 3%">Remove</th>
                <th>ID</th>
                <th>Name</th>
                <th>Designation</th>
                <th>Semester</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let section of sectionsRegister; let i = index">
                <td class="selectedButton">
                  <button *ngIf="!rotateButtons" class="btn btnHc center-block" (click)="removeFromRegister(i)"><i
                      class="fas fa-arrow-left"></i></button>
                  <button *ngIf="rotateButtons" class="btn btnHc center-block" (click)="removeFromRegister(i)"><i class="fas fa-arrow-up"></i></button>
                </td>
                <td>{{section.course_Id}}</td>
                <td>{{section.course_Name}}</td>
                <td>{{section.designation}}</td>
                <td class="selectedLast">{{section.semester}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="isLoaded" class="well col-sm-10 col-md-10 col-lg-10 centerDiv">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-12 centerDiv">
        <button type="submit" class="btn btnHc float-left" (click)="validateRegistration()">Register</button>
        <button type="button" class="btn btnHc float-right" (click)="redirectToHome()">Back</button>
      </div>
    </div>
  </div>

</div>
<app-success-modal [modalHeaderText]="'Success message'" [modalBodyText]="'Courses Registered successfully'"
  [okButtonText]="'OK'" (redirectOnOK)="redirectToHome()"></app-success-modal>

<app-error-modal [modalHeaderText]="errorHeader" [modalBodyText]="errorMessage" [okButtonText]="'OK'"></app-error-modal>