<div class="container-fluid">

  <!-- Loading Bar -->
  <div *ngIf="!isLoaded">
    <div class="row">
      <div class="col-md-8 centerDiv well">
        <img src="../../../assets/loading.gif" class="center-block imgLoading" />
        <h4 class="text-center">Loading</h4>
      </div>
    </div>
  </div>

  <!-- HC Well Button -->
  <div *ngIf="isLoaded" class="row">
    <div class=" col-md-8 centerDiv well">
      <h4 class="text-center">Enrollments</h4>
    </div>
  </div>

  <div *ngIf="isLoaded" class="row">
    <div class="col-md-8 centerDiv well">
      <div class="table-responsive">
        <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-striped">
          <thead>
            <tr>
              <th>Enrolee:</th>
              <th>Section ID:</th>
              <th>Status:</th>
              <th>Grade:</th>
              <th>Option:</th>
            </tr>
          </thead>
          <tbody *ngIf="enrollmentInfo !== undefined">
            <tr *ngFor="let enrollment of enrollmentInfo">
              <td>{{enrollment.student_Id}} - {{enrollment.first_Name}} {{enrollment.last_Name}}</td>
              <td>{{enrollment.section_Id}}</td>
              <td>{{enrollment.course_Status}}</td>
              <td>{{enrollment.grade}}</td>
              <td><button type="button" id="update" class="btn btnHc" (click)='redirectToUpdatePage(enrollment.enrollment_Id)'>Update</button></td>
            </tr>
          </tbody>
          <tbody *ngIf="enrollmentInfo === undefined">
            <tr>
              <td colspan="5" class="bold text-center">
                <div class="row">
                  <div class="col-md-8 centerDiv">
                    <img src="../../../assets/loading.gif" class="center-block imgLoading" />
                    <h4 class="text-center">Loading</h4>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>