
.billTable{
    width: 100%;
    background-color: white !important;
}

table{
    background-color: white !important;
    box-shadow: 1px 1px 1px black;
    border-radius: 6px;
}

td{
    padding: 5px !important;
}

th{
    padding: 5px !important;
}

.logoReport{
    width: 200px;
}

.reportTable{
    width: 100%;
}

.total{
 border-top: 1px black solid;
}

.borderLeft{
    border-left: 1px black solid;
}

.zero{
    background-color: Green;
    color: white;
}

.owe{
    background-color: red;
    color: white;
}

.bt0{
    border-top:0 !important;;
}


