<div class="container-fluid">

  <!-- Loading Bar -->
  <div *ngIf="!isLoaded">
    <div class="row">
      <div class="col-sm-8 col-md-6 col-lg-4 centerDiv well">
        <img src="../../../assets/loading.gif" class="center-block imgLoading"
          />
        <h4 class="text-center">Loading</h4>
      </div>
    </div>
  </div>

  <div *ngIf="isLoaded" class="form-horizontal well col-sm-8 col-md-8 col-lg-4
    centerDiv well">
    <h4 class="text-center">Create Course</h4>
  </div>

  <form *ngIf="isLoaded" [formGroup]="courseForm" autocomplete="off" novalidate
    (ngSubmit)="createCourse(courseForm.value)">
    <div class="form-horizontal well col-sm-8 col-md-8 col-lg-4 centerDiv">

      <div class="form-group">
        <div class="row">
          <div class="col-md-12 updateWell">
            <label for="course_Id" class="control-label">Course ID: </label>
            <input type="text" formControlName="course_Id" id="course_Id"
              class="form-control" />
            <em *ngIf="validateControl('course_Id') && hasError('course_Id',
              'required')">Course ID is required</em>
            <em *ngIf="validateControl('course_Id') && hasError('course_Id',
              'maxlength')">Maximum allowed length is 6
              characters.</em>
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="row">
          <div class="col-md-12 updateWell">
            <label for="course_Name" class="control-label">Course Name: </label>
            <input type="text" formControlName="course_Name" id="course_Name"
              class="form-control" />
            <em *ngIf="validateControl('course_Name') && hasError('course_Name',
              'required')">Course Name is required</em>
            <em *ngIf="validateControl('course_Name') && hasError('course_Name',
              'maxlength')">Maximum allowed length
              is
              140
              characters.</em>
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="row">
          <div class="col-md-12 updateWell">
            <label for="dept_Id" class="control-label">Department: </label>
            <select name="dept_Id" class="form-control" id="dept_Id"
              formControlName="dept_Id">
              <option *ngFor="let dept of depts" value="{{dept.dept_Id}}">{{dept.dept_Name}}</option>
            </select>
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="row">
          <div class="col-md-12 updateWell">
            <label for="credits" class="control-label">Credits: </label>
            <input type="text" formControlName="credits" id="credits"
              class="form-control" />
            <em *ngIf="validateControl('credits') && hasError('credits',
              'required')">Credits is required</em>
            <em *ngIf="validateControl('credits') && hasError('credits',
              'maxlength')">Max 1 Character.</em>
          </div>
        </div>
      </div>

      <br><br>

      <div class="form-group">
        <div class="row">
          <div class="col-md-12 updateWell">
            <button type="submit" class="btn btnHc float-left"
              [disabled]="!courseForm.valid">Save</button>
            <button type="button" class="btn btnHc float-right"
              (click)="redirectToCourseList()">Cancel</button>
          </div>
        </div>
      </div>
    </div>
  </form>

  <app-success-modal [modalHeaderText]="'Success message'"
    [modalBodyText]="'Course Added successfully'" [okButtonText]="'OK'"
    (redirectOnOK)="redirectToCourseList()"></app-success-modal>
  <app-error-modal [modalHeaderText]="'Error message'"
    [modalBodyText]="errorMessage" [okButtonText]="'OK'"></app-error-modal>
</div>