.logoReport{
    width: 200px;
}

.reportTable{
    width: 100%;
}

.headerDiv{
    background-color: silver;
    color: black;
    border: 2px black solid;
    margin-bottom: 5px;
    border-radius: 6px;
    box-shadow: 1px 1px 1px dimgray;

}

tr:nth-child(2n+2){
    background-color: white !important;
}
tr:nth-child(2n+1){
    background-color: #f0f0ee!important;
}

.desDiv{
    border: 1px black solid;
    background: url("../../../assets/blackButton.jpg") !important;
    background-size: cover;
    color: white;
    -webkit-text-stroke: .01px black;
    text-shadow: 1px 1px 1px black;
    font-size: 20px;
    margin-bottom: 5px;
    padding: 5px;
    border-top: 1px white solid;
    border-bottom: 1px whitesmoke solid;
}
.stuDiv{
    border: 1px black solid;
    background-color: white;
    margin-bottom: 5px;
    padding: 10px;
}

.student{
    margin-left: 100px;
}

.noSections{
    background-color: white;
    border: 1px black solid;
    width: 100%;
}

.boldReport{
    font-weight: 300;
}

.spacer{
    margin-top: 10px;
}

