<div class="container-fluid">
  <div class="row">
    <div class="col-md-offset-10 col-md-2">
      <a [routerLink]="['/student/create']">Create Student</a>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-12">
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Student ID</th>
              <th>Student Status</th>
              <th>GPA</th>
              <th>Ammount Owing</th>
              <th>Associated User ID</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let student of students">
              <td>{{student.student_Id}}</td>
              <td>{{student.student_Status}}</td>
              <td>{{student.gpa}}</td>
              <td>{{student.amount_Owing}}</td>
              <td>{{student.user_id}}</td>
              <td><button type="button" id="update" class="btn btn-success" (click)='redirectToUpdatePage(student.student_Id)'>Update
                  Student Info</button></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>