<div class="container-fluid">

  <!-- Loading Bar -->
  <div *ngIf="!isLoaded">
    <div class="row">
      <div class="col-sm-8 col-md-6 col-lg-4 centerDiv well">
        <img src="../../../assets/loading.gif" class="center-block imgLoading"
          />
        <h4 class="text-center">Loading</h4>
      </div>
    </div>
  </div>

  <div *ngIf="isLoaded" class="form-horizontal well col-sm-8 col-md-6 col-lg-4
    centerDiv well">
    <h4 class="text-center">Create Section</h4>
  </div>

  <form *ngIf="isLoaded" [formGroup]="sectionForm" autocomplete="off" novalidate
    (ngSubmit)="createSection(sectionForm.value)">
    <div class="form-horizontal well col-sm-8 col-md-6 col-lg-4 centerDiv">


      <div class="form-group">
        <div class="row">
          <div class="col-md-12 updateWell">
            <label for="course_Id" class="control-label">Course Id: </label>
            <select name="course_Id" class="form-control" id="course_Id"
              formControlName="course_Id">
              <option *ngFor="let current of courses"
                value="{{current.course_Id}}">{{current.course_Id+"-"+current.course_Name}}</option>
            </select>
            <em *ngIf="validateControl('course_Id') && hasError('course_Id',
              'required')">Course Id is
              required</em>
            <em *ngIf="validateControl('course_Id') && hasError('course_Id',
              'maxlength')">Max 6
              Character.</em>
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="row">
          <div class="col-md-12 updateWell">
            <label for="designation" class="control-label">Designation: </label>
            <select #dCode name="designation" class="form-control"
              id="designation" formControlName="designation">
              <option *ngFor="let current of designations; let x= index"
                value="{{current}}">{{current}}</option>
            </select>
            <em *ngIf="validateControl('designation') && hasError('designation',
              'required')">Designation
              is required</em>
            <em *ngIf="validateControl('designation') && hasError('designation',
              'maxlength')">Max 1
              Character.</em>
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="row">
          <div class="col-md-12 updateWell">
            <label for="faculty_Id" class="control-label">Instructor: </label>
            <select name="facult_Id" class="form-control" id="faculty_Id"
              formControlName="faculty_Id">
              <option *ngFor="let current of faculty"
                value="{{current.faculty_Id}}">{{current.first_Name+"
                "+current.last_Name}}</option>
            </select>
            <em *ngIf="validateControl('faculty_Id') && hasError('faculty_Id',
              'required')">Faculty Id is
              required</em>
            <em *ngIf="validateControl('faculty_Id') && hasError('faculty_Id',
              'maxlength')">Maximum
              allowed length 6
              characters.</em>
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="row">
          <div class="col-md-12 updateWell">
            <label for="start_Date" class="control-label">Start Date: </label>
            <input type="text" formControlName="start_Date" id="start_Date"
              class="form-control" appDatepicker
              (change)="executeStartDatePicker($event)"
              readonly />
            <em *ngIf="validateControl('start_Date') && hasError('start_Date',
              'required')">Start Date is
              required</em>
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="row">
          <div class="col-md-12 updateWell">
            <label for="end_Date" class="control-label">End Date: </label>
            <input type="text" formControlName="end_Date" id="end_Date"
              class="form-control" appDatepicker
              (change)="executeEndDatePicker($event)"
              readonly />
            <em *ngIf="validateControl('end_Date') && hasError('end_Date',
              'required')">End Date is
              required</em>
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="row">
          <div class="col-md-12 updateWell">
            <label for="semester" class="control-label">Semester: </label>
            <select name="semester" class="form-control" id="semester"
              formControlName="semester">
              <option value="Spring">Spring</option>
              <option value="Summer">Summer</option>
              <option value="Fall">Fall</option>
            </select>
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="row">
          <div class="col-md-12 updateWell">
            <label for="vacancy" class="control-label">Vacancy: </label>
            <input type="number" formControlName="vacancy" id="credits"
              class="form-control" />
            <em *ngIf="validateControl('vacancy') && hasError('vacancy',
              'required')">Vacancy is required</em>
            <em *ngIf="validateControl('vacancy') && hasError('vacancy',
              'max')">Max 3 numbers</em>
          </div>
        </div>
      </div>

      <br><br>

      <div class="form-group">
        <div class="row">
          <div class="col-md-12 updateWell">
            <button type="submit" class="btn btnHc float-left"
              [disabled]="!sectionForm.valid">Save</button>
            <button type="button" class="btn btnHc float-right"
              (click)="redirectToSectionList()">Cancel</button>
          </div>
        </div>
      </div>

    </div>
  </form>

  <app-success-modal [modalHeaderText]="'Success message'"
    [modalBodyText]="'Section Added successfully'"
    [okButtonText]="'OK'" (redirectOnOK)="redirectToSectionList()"></app-success-modal>
  <app-error-modal [modalHeaderText]="'Error message'"
    [modalBodyText]="errorMessage" [okButtonText]="'OK'"></app-error-modal>
</div>