<div class="container-fluid">
  <div class="row">
    <div class="col-md-offset-10 col-md-2">
      <a [routerLink]="['/user/create/3']">Create Student</a>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-12">
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Student ID</th>
              <th>Student Status</th>
              <th>GPA</th>
              <th>Ammount Owing</th>
              <th>First Name</th>
              <th>Last Name</th>
              <th>E-Mail</th>
              <th>Address</th>
              <th>Program</th>
              <th>Option</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let student of studentsInfo">
              <td>{{student.student_Id}}</td>
              <td>{{student.student_Status}}</td>
              <td>{{student.gpa}}</td>
              <td>{{student.amount_Owing}}</td>
              <td>{{student.first_Name}}</td>
              <td>{{student.last_Name}}</td>
              <td>{{student.eMail}}</td>
              <td>{{student.address}}</td>
              <td *ngIf="isLoaded">{{student.dept_Id}} - {{depts[(student.dept_Id - 1)].dept_Name}}</td>
              <td>
                <button type="button" id="update" class="btn btn-success" (click)='redirectToUpdatePage(student.student_Id)'>Update</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>