<div class="container-fluid">

  <!-- Loading Bar -->
  <div *ngIf="!isLoaded">
    <div class="row">
      <div class="col-sm-8 col-md-6 col-lg-4 centerDiv well">
        <img src="../../../assets/loading.gif" class="center-block imgLoading"
          />
        <h4 class="text-center">Loading</h4>
      </div>
    </div>
  </div>

  <br>
  <div *ngIf="isLoaded" class="form-horizontal well col-sm-8 col-md-6 col-lg-4
    centerDiv well">
    <form *ngIf="isLoaded" [formGroup]="studentGradesForm" autocomplete="off"
      novalidate
      (ngSubmit)="updateGrade(studentGradesForm.value)">

      <div class="form-group">
        <div class="row">
          <div class="col-md-12 updateWell">
            <label for="grade" class="control-label">Enter Grade: </label>
            <input type="number" formControlName="grade" id="grade"
              class="form-control" />
            <em *ngIf="validateControl('grade') && hasError('grade',
              'required')">grade is required</em>
            <em *ngIf="validateControl('grade') && hasError('grade',
              'maxlength')">Maximum allowed length is 3
              characters.</em>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="row">
          <div class="col-md-12 updateWell">
            <label for="course_Status" class="control-label">Enter Status:
            </label>
            <select name="course_Status" class="form-control" id="course_Status"
              formControlName="course_Status">
              <option value="Completed" selected="selected">Completed</option>
              <option value="Dropped Out">Dropped Out</option>
            </select>
            <em *ngIf="validateControl('course_Status') &&
              hasError('course_Status', 'required')">Status is required</em>
            <em *ngIf="validateControl('course_Status') &&
              hasError('course_Status', 'maxlength')">Maximum allowed length
              is 140
              characters.</em>
          </div>
        </div>
      </div>
      <br><br>

      <div class="form-group">
        <div class="row">
          <div class="col-md-12 updateWell">
            <button type="submit" class="btn btnHc float-left"
              [disabled]="!studentGradesForm.valid">Update Grade</button>
            <button type="button" class="btn btnHc float-right"
              (click)="redirectToHome()">Back</button>
          </div>
        </div>
      </div>
    </form>
  </div>

  <app-success-modal [modalHeaderText]="'Success message'"
    [modalBodyText]="'Grade Updated successfully'"
    [okButtonText]="'OK'"
    (redirectOnOK)="redirectToFacultyHome()"></app-success-modal>
  <app-error-modal [modalHeaderText]="'Error message'"
    [modalBodyText]="errorMessage" [okButtonText]="'OK'"></app-error-modal>
</div>