/* You can add global styles to this file, and also import other style files */
.ui-widget-header {
    color: #564040;
}
em{
    color: #e71515;
    font-weight: bold;
}
.centerDiv{
    float: none;
    left:0;
    right:0;
    margin-left: auto;
    margin-right: auto;
}

.backLightGrey{
    background: #e2e2e2;
}