<div class="container-fluid">

  <!-- Loading Bar -->
  <div *ngIf="!isLoaded">
    <div class="row">
      <div class="col-sm-8 col-md-6 col-lg-4 centerDiv well">
        <img src="assets/loading.gif" class="center-block imgLoading" />
        <h4 class="text-center">Loading</h4>
      </div>
    </div>
  </div>

  <div *ngIf="isLoaded" class="form-horizontal well col-sm-6 col-md-6 col-lg-6 centerDiv well">
    <h2 class="text-center">{{studentInfo.first_Name}} {{studentInfo.last_Name}}</h2>
    <hr>
    <h5 class="text-center">Student ID: {{studentInfo.student_Id}}</h5>
    <hr>
    <h5 class="text-center bold">Amount Owing:</h5>
    <p class="text-center">
      <span class="amountText" *ngIf="studentInfo.amount_Owing > 0">{{student.amount_Owing | currency}}</span>
      <span *ngIf="student.amount_Owing === 0">No Oustanding Balance</span>
    </p>
  </div>

  <div *ngIf="isLoaded" class="form-horizontal well col-sm-6 col-md-6 col-lg-6 centerDiv well">
    <!-- Transaction information -->
    <div class="row">
      <h5 class="text-center bold">Transaction History:</h5>
      <div id="transDiv" class="col-md-12 centerDiv">

        <!-- If transactions -->
        <table *ngIf="transactions.length > 0" class="table">
          <thead>
            <tr>
              <th>Trans ID</th>
              <th>Amount</th>
              <th>Date</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let transaction of transactions">
              <td>{{transaction.trans_Id}}</td>
              <td>{{transaction.trans_Amount | currency}}</td>
              <td>{{transaction.trans_Date | date:'yyyy-MM-dd'}}</td>
            </tr>
          </tbody>
        </table>

        <!-- No Transactions -->
        <div *ngIf="transactions.length === 0">
          <br>
          <div class="col-md-10 centerDiv well">
            <h5 class="text-center">No Transaction History</h5>
          </div>
        </div>

      </div>
    </div>
  </div>

  <form *ngIf="isLoaded && studentInfo.amount_Owing > 0" [formGroup]="studentPaymentForm" autocomplete="off" novalidate
    (ngSubmit)="makePayment(studentPaymentForm.value)">
    <div class="form-horizontal well col-sm-6 col-md-6 col-lg-6 centerDiv">

      <div class="form-group">
        <div class="row">
          <div class="col-md-12 updateWell">
            <label for="amount" class="control-label">Payment Amount: </label>
            <input type="number" formControlName="amount" id="amount" class="form-control" />
            <em *ngIf="validateControl('amount') && hasError('amount', 'required')">Amount is required</em>
            <em *ngIf="validateControl('amount') && hasError('amount', 'maxlength')">Maximum allowed length is 60
              characters.</em>
          </div>
        </div>
      </div>

      <br><br>

      <div class="form-group">
        <div class="row">
          <div class="col-md-12 updateWell">
            <button type="submit" class="btn btnHc float-left" [disabled]="!studentPaymentForm.valid">Make
              Payment</button>
            <button type="button" class="btn btnHc float-right" (click)="redirectToHome()">Back</button>
          </div>
        </div>
      </div>


    </div>
  </form>

  <div *ngIf="isLoaded && studentInfo.amount_Owing === 0" class="well col-sm-6 col-md-6 col-lg-6 centerDiv">
    <button type="button" class="btn btnHc" (click)="redirectToHome()">Home</button>
  </div>

  <app-success-modal [modalHeaderText]="'Success message'" [modalBodyText]="'Payment completed successfully'"
    [okButtonText]="'OK'" (redirectOnOK)="updateViewInformation()"></app-success-modal>

  <app-error-modal [modalHeaderText]="'Error message'" [modalBodyText]="errorMessage" [okButtonText]="'OK'">
  </app-error-modal>

</div>